@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 3.125rem;
  line-height: 4rem;
  color: #222;
}

h2 {
  font-size: 2.875rem;
  line-height: 3.375rem;
  color: #222;
}
h3 {
  font-size: 1.875rem;
  line-height: 2.875rem;
  color: #222;
}

h4 {
  font-size: 1.25rem;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: .75rem;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  margin: 40px 0;
}
.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/*               Header Start               */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E5ADB6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#header a {
  text-decoration: none;
}

#header a h3 {
  color: #C3FCF1;
  transition: 0.3s ease;
  font-family: 'Montserrat Alternates', sans-serif;
}

#header a h3:hover,
#header a h3.active {
  color: #005B47;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #C3FCF1;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #005B47;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #005B47;
  position: absolute;
  bottom: -4px;
  left: 20px;
}



/*               Shop               */



/*               Single Product               */



/*               Blog Page               */



/*               About Page               */
